.popupForm {
    position: relative;
    padding: 0px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.popupForm .panel {
    margin: 0px;
}

.container {
    width: 1300px;
}

.panel-body.panel-body-shrink {
    padding: 10px 5px;
}

#panelData .panel-body.panel-body-shrink {
    padding: 0px;
}

.formSignInContainer .container {
    width: 360px;
}

.formSignInContainer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #005FA8;
}

.formSignInContainer .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.formSignInContainer .form-signin .form-signin-heading {
    margin-bottom: 10px;
}
.formSignInContainer .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.formSignInContainer .form-signin .form-control:focus {
    z-index: 2;
}
.formSignInContainer .form-signin input[type="password"] {
    margin-bottom: 10px;
}

#siteTopBar {
    background-color: #005FA8;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}
#siteTopBar .navbar-header {
    max-width: 200px;
}

#siteBody {
    margin-top: 76px;
}

#siteBody .panel {
    margin-bottom: 10px;
}

#siteBody .panel-primary {
    border-color: #005FA8;
}

#siteBody .panel-primary > .panel-heading {
    background: #005FA8;
}

#siteBody .import_file {
    display: inline-block;
}

#dataTable {
    margin: 0px;
}

#dataTable .dataTableSingle {
    cursor: pointer;
}

.crawl_select{
    max-width: 235px !important;
}
.first_datepicker{
    //display: none !important;
}
.second_datepicker{
    //display: none !important;
}